/*Main block of App*/
.App {
	background-color: #9F6844;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	background-image: url("./background.jpg");
}

/*Block with game's title*/
.gameTitle {
	text-align: center;
	color: #ffff00;
	line-height: 0.8;
	text-shadow: -0 -1px 2px #000000,
	0 -1px 2px #000000,
	-0 1px 2px #000000,
	0 1px 2px #000000,
	-1px -0 2px #000000,
	1px -0 2px #000000,
	-1px 0 2px #000000,
	1px 0 2px #000000,
	-1px -1px 2px #000000,
	1px -1px 2px #000000,
	-1px 1px 2px #000000,
	1px 1px 2px #000000,
	-1px -1px 2px #000000,
	1px -1px 2px #000000,
	-1px 1px 2px #000000,
	1px 1px 2px #000000;
	padding-top: 10vh;
	padding-bottom: 7vh;
	min-height: 100px;
	height: 10vh;
	width: 100%;
	min-width: 320px;
	font-size: 4rem;
	user-select: none;
}

/*Wrapper for blocks: circles, counter, buttons*/
.uiWrapper {
	height: 425px;
	width: 320px;
	min-width: 320px;
	min-height: 425px;
	background: rgba(185, 200, 167, 0.5);
	border-radius: 10px;
	border: 1px solid #5B3620;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*Wrapper for all circles*/
.circleItemsWrapper {
	height: 320px;
	width: 320px;
	min-width: 320px;
	min-height: 320px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
	cursor: url("./hammer.png"), pointer;
}

/*Block with one circle*/
.circleItem {
	position: relative;
	width: 100px;
	height: 100px;
	min-height: 100px;
	min-width: 100px;
	border: 1px solid #5B3620;
	border-radius: 50%;
	background: rgba(109, 205, 40, 0.6) url("./hole.png");
	overflow: hidden;
}

.circleItem:hover {
	background-color: rgba(239, 203, 71, 0.82);
}

.circleItem:active {
	top: 10px;
}


/*Block with circle image*/
.circleImage {
	background-image: url("./holeWithMole.png");
	width: 100px;
	height: 90px;
	visibility: visible;
}

/*Block with circle image, when it hidden*/
.circleImageHidden {
	visibility: hidden;
}

/*Block with buttons and counter*/
.bottomCircles {
	height: 105px;
	width: 320px;
	min-width: 320px;
	min-height: 105px;
	background: rgba(211, 239, 174, 0.5);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Block with counter*/
.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	background-color: #eaea76;
	border: 1px solid #5B3620;
	color: black;
	border-radius: 50%;
	font-size: 2.5rem;
	user-select: none;
}

/*Button for reset counter*/
.resetButton {
	position: relative;
	border-radius: 50%;
	width: 90px;
	min-width: 90px;
	height: 90px;
	min-height: 90px;
	font-size: 1.6rem;
	background-color: #f5f597;
	color: black;
	transition: 0.2s;
	text-align: center;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.resetButton:hover {
	border: 1px solid #5B3620;
}

.resetButton:active {
	top: 3px;
}

/*Buttons for mute sounds*/
.muteButton {
	position: relative;
	border-radius: 50%;
	width: 90px;
	min-width: 90px;
	height: 90px;
	min-height: 90px;
	opacity: 0.5;
	background: #f5f597 url("./mute.png") no-repeat center center;
	background-size: 40%;
	transition: 0.2s;
	text-align: center;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.muteButton:hover {
	border: 1px solid #5B3620;
}

.muteButton:active {
	top: 3px;
}

.unMuteButton {
	position: relative;
	border-radius: 50%;
	width: 90px;
	min-width: 90px;
	height: 90px;
	min-height: 90px;
	background: #f5f597 url("./unMute.png") no-repeat center center;
	background-size: 40%;
	transition: 0.2s;
	text-align: center;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.unMuteButton:hover {
	border: 1px solid #5B3620;
}

.unMuteButton:active {
	top: 3px;
}